<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <title>askFred</title>
</head>

<body>
    <h1>
        <span class="l1">a</span>
        <span class="l2">s</span>
        <span class="l3">k</span>
        <span class="l4">F</span>
        <span class="l5">r</span>
        <span class="l6">e</span>
        <span class="l7">d</span>
    </h1>

    <form action="/search" method="POST">
        <div>
            <input id="searchbar" type="text" placeholder="Search askFred..." name="search">
            <button id="btn" type="submit">Search</button>
        </div>
    </form>
</body>
<footer>
    <p>askFred published 2019</p>
</footer>

</html>