<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="css/styles.css" type="text/css" rel="stylesheet">
    <title>askFred</title>
</head>

<body>
    <div class="page-container">
        <div class="content">
            <header>
                <p><a class="navbar" href="http://localhost:8080/mail">About</a><a class="navbar"
                        href="http://localhost:8080/mail" style="float: right;">AfMail</a></p>
            </header>

            <!-- Page title -->
            <h1>
                <span style="color: rgb(0, 102, 255);">a</span>
                <span style="color: rgb(255, 0, 0);">s</span>
                <span style="color: rgb(222, 201, 47);">k</span>
                <span style="color: rgb(0, 102, 255);">F</span>
                <span style="color: rgb(3, 155, 0);">r</span>
                <span style="color: rgb(255, 0, 0);">e</span>
                <span style="color: rgb(222, 201, 47);">d</span>
            </h1>

            <div class="flex-container">
                <form action="/search" method="POST">
                    <div><input name="search" id="searchbar" type="text" placeholder="Search askFred..."></div>
                    <div><button id="search" class="btn" type="submit">Search</button>
                </form>
                <form action="/lucky" method="GET"><button id="random" class="btn" type="submit">Feeling Lucky?</button></form>
            </div>

            <div class="grid-container">
                <div class="grid-item"><a href="https://www.facebook.com/" target="_blank"><img src="assets/facebook.png" alt="facebook" border="0"></a></div>
                <div class="grid-item"><a href="https://twitter.com/" target="_blank"><img src="assets/twitter.png" alt="twitter" border="0"></a></div>
                <div class="grid-item"><a href="https://www.instagram.com/" target="_blank"><img src="assets/instagram.png" alt="instagram" border="0"></a></div>
                <div class="grid-item"><a href="https://www.snapchat.com/" target="_blank"><img src="assets/snapchat.png" alt="snapchat" border="0"></a></div>
                <div class="grid-item"><a href="https://www.youtube.com/" target="_blank"><img src="assets/youtube.png" alt="youtube" border="0"></a></div>
                <div class="grid-item"><a href="https://www.bbc.co.uk/" target="_blank"><img src="assets/bbc.png" alt="bbc" border="0"></a></div>
            </div>
        </div>

        <footer>
            <p>askFred published 2019</p>
        </footer>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JavaScript -->
    <script src="js/index.js"></script>
</body>
</html>