<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/style.css" type="text/css" rel="stylesheet">
    <title>askFred</title>
</head>

<body>
    <header class="box">
        <p><a href="#">About</a><a href="#" style="float: right;">AfMail</a></p>
    </header>
    
    <!-- Page title -->
    <h1>
        <span style="color: rgb(0, 102, 255);">a</span>
        <span style="color: rgb(255, 0, 0);">s</span>
        <span style="color: rgb(222, 201, 47);">k</span>
        <span style="color: rgb(0, 102, 255);">F</span>
        <span style="color: rgb(3, 155, 0);">r</span>
        <span style="color: rgb(255, 0, 0);">e</span>
        <span style="color: rgb(222, 201, 47);">d</span>
    </h1>

    <form action="">
        <div>
            <input id="searchbar" type="text" placeholder="Search askFred..." name="search">
            <button id="btn" type="submit">Search</button>
        </div>
    </form>

    <footer class="box">
        <p>askFred published 2019</p>
    </footer>
</body>

</html>