body, html {
    height: 100%;
    width: 100%;
}

/* Brings the header to the top */
.homepage-header {
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 20px;
}

.homepage-header p {
    margin: 0;
}

.box {
    /*position: fixed;*/
    font-size: 14px;
    background-color: rgb(237, 237, 237);
    width: 100%;
}

.navbar {
    color: rgb(96, 96, 96);
    font-size: 18px;
    font-variant: small-caps;
}

.navbar:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

h1 {
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: flex-start;
}

.flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

header p {
    text-align: left;
    margin: 10px;
}

#searchbar {
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(235, 235, 235);
    border: 1px solid grey;
    padding: 10px;
}

/* #searchbar:hover {
    background-color: rgb(222, 201, 47, 0.3)
} */

#searchbar:focus {
    outline: none;
    
}

.btn {
    width: 10%;
    font-size: 14px;
    padding: 10px;
    background-color: rgb(60, 132, 255);
    color: white;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
    border-left: none;
}

.btn:hover {background: hsl(207, 100%, 35%);}

.btn:focus {outline: none;}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 14px;
    height: 45px;
    background-color: rgb(237, 237, 237);
    width: 100%;
}

footer p {
    text-align: right;
    margin-right: 10px;
}

.grid-container {
    display: grid;
    width: fit-content;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 20px;
    background-color: rgb(237, 237, 237);
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto 50px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-item img {
    width: 100px;
    height: 100px;
}

.grid-item img:hover {
    cursor: pointer;
    opacity: 0.3;
}

#search {margin-right: 10px;}

#random {margin-left: 10px;}

.flex-container button {
    margin-top: 10px;
    margin-bottom: 20px;
}

form {display: inline;}

.page-container {
    position: relative;
    min-height: 100vh;  
}

.content {
    padding-bottom: 45px;
    width: 100%;
    height: 100%;
    bottom: 0;
    margin: 0;
    padding-top: 0px;
}

button {
    height: 45px;;
}

@media only screen and (max-width: 1171px) {
    /*do something with button*/
   

  }

  @media only screen and (max-width: 690px) {
    /*do something with button*/
    h1 {
        font-size: 45px;
    }

    .grid-item img {
        width: 50px;
        height: 50px;
    }
    button {
        min-width: 100px;
    }
    .grid-container {
        display: grid;
        width: fit-content;
        grid-template-columns: 75px 75px 75px;
        grid-gap: 10px;
        background-color: rgb(237, 237, 237);
        padding: 5px;
        border-radius: 5px;
        margin: 10px auto 25px;
    }

    header {
       display: flex;
       flex-direction: column;
    }

  }

